* {
  margin: 0;
  padding: 0;
}

.music-player {
  padding: 30px;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.track {
  margin-bottom: 30px;
  padding: 5px;
  width: fit-content;
}

.name {
  font-weight: 700;
  margin-bottom: 5px;
}

hr {
  margin: 30px 0;
}

h4 {
  margin-bottom: 10px;
}

table {
  width: 500px;
  border-collapse: collapse;
  border: 1px solid #000;
}

table td {
  border: 1px solid #000;
  padding: 5px;
}
