#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.task {
  padding: 10px;
  border: 1px solid #000;
}

.task .line span:first-child {
  font-weight: 700;
}

.task:nth-child(n+2) {
  margin-top: 20px;
}

.task-1, .task-2, .task-3 {
  border: none;
}

.task-1 {
  background-color: #e5e5e5;
}

.task-2 {
  background-color: #84d984;
}

.task-3 {
  background-color: tomato;
}

