#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

ul {
  padding-left: 10px;
}

li {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}

