#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.task {
  padding: 10px;
  border: 2px solid #fff;
}

.task.border {
  border-color: #000;
}

.task .line span:first-child {
  font-weight: 700;
}

.task:nth-child(n+2) {
  margin-top: 20px;
}

.task-1 {
  background-color: #e5e5e5;
}

.task-2 {
  background-color: #84d984;
}

.task-3 {
  background-color: tomato;
}

.btn-reset {
  font-weight: 700;
  text-transform: uppercase;
  background-color: red;
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
  margin: 30px 0 0 2px;
}

