* {
  margin: 0;
  padding: 0;
}

hr {
  margin: 30px 0;
}

.musicPlayer {
  padding: 30px;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

.track {
  margin-bottom: 30px;
  padding: 5px;
  width: fit-content;
  cursor: default;
}

.name {
  font-weight: 700;
  margin-bottom: 5px;
}

.btnReset {
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: tomato;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}
