hr {
  margin: 30px 0;
}

.musicPlayer {
  padding: 30px;
}

img.loader {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.trackBox {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.side.list {
  width: 300px;
}

.side.details {
  flex-grow: 1;
  .infoBox {
    padding: 10px;
  }
}

.sideTitle {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.track {
  margin-bottom: 30px;
  padding: 5px;
  width: fit-content;
  cursor: default;
  &.selected {
    background-color: yellow;
  }
  .name {
    font-weight: 700;
    margin-bottom: 5px;
  }
}

.btnReset {
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  margin: 30px auto 0 auto;
  background-color: tomato;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}
