.toDoList {
  font-family: sans-serif;
  padding: 100px;
}

.mainTitle {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

img.loader {
  position: absolute;
  display: block;
  width: 100px;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

// Tasks box side
.listBox {
  flex-shrink: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-height: 100px;
  width: 730px;
  padding-right: 30px;
  border-right: 1px solid #000;
}

// Task detail side
.taskInfo {
  flex-grow: 1;
  position: relative;
  margin-left: 30px;
  border: 2px solid #31cfff;
  border-radius: 10px;
  background-color: #bce3ec;
  padding: 20px;
  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    .name {
      font-size: 25px;
      line-height: 25px;
      font-weight: 700;
    }
    .datas {
      flex-shrink: 0;
    }
    .statusPlate {
      font-size: 18px;
      line-height: 20px;
      font-weight: 700;
      padding: 5px 10px;
      width: fit-content;
      margin-left: auto;
    }
    .date {
      font-style: italic;
      margin-top: 5px;
    }
  }
  .desc {
    font-size: 18px;
    line-height: 25px;
  }
  .noTask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  img.loader {
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

// Task item
.task {
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: #e5e5e5;
  min-height: 150px;
  .line {
    margin-bottom: 10px;
    span:first-child {
      font-weight: 700;
    }
  }
  .name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .status {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      flex-shrink: 0;
      width: fit-content;
    }
  }
  &.border {
    border-color: green;
    background-color: #91c885;
  }
  &.task1 {
    background-color: #e5e5e5;
  }

  &.task2 {
    background-color: #84d984;
  }

  &.task3 {
    background-color: tomato;
  }
}

.statusPlate {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  padding: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
  &.todo {
    background-color: darkviolet;
  }
  &.progress {
    background-color: cornflowerblue;
  }
  &.done {
    background-color: darkolivegreen;
  }
}

.btnReset {
  font-weight: 700;
  text-transform: uppercase;
  background-color: red;
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
  margin: 30px auto 0 auto;
}

