.toDoList {
  font-family: sans-serif;
  padding: 100px;
}

.mainTitle {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.inner {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

// Tasks box side
.listBox {
  flex-shrink: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-height: 100px;
  width: 730px;
  padding-right: 30px;
  border-right: 1px solid #000;
}

.btnReset {
  font-weight: 700;
  text-transform: uppercase;
  background-color: red;
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
  margin: 30px auto 0 auto;
}

