hr {
  margin: 30px 0;
}

.musicPlayer {
  padding: 30px;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.trackBox {
  display: flex;
  gap: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

.side.list {
  flex-shrink: 0;
  width: 300px;
}

.side.details {
  position: relative;
  flex-grow: 1;
}

.sideTitle {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #bce6ff;
}

.btnReset {
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  margin: 30px auto 0 auto;
  background-color: tomato;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}
