hr {
  margin: 30px 0;
}

.musicPlayer {
  padding: 30px;
}

img.loader {
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.trackBox {
  display: flex;
  gap: 100px;
  max-width: 1000px;
  margin: 0 auto;
}

.side.list {
  flex-shrink: 0;
  width: 300px;
}

.side.details {
  flex-grow: 1;
}

.sideTitle {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #bce6ff;
}

// Track item
.track {
  margin-bottom: 30px;
  padding: 5px;
  width: fit-content;
  cursor: default;
  &.selected {
    background-color: yellow;
  }
  .name {
    font-weight: 700;
    margin-bottom: 5px;
  }
}

// Track detail box
.infoBox {
  background-color: #bce6ff;
  padding: 10px;
  .name {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .date, .duration, .size {
    font-size: 15px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 5px;
  }
  .size {
    font-style: normal;
    font-weight: 700;
    margin-top: 10px;
  }
}

.noTrack {
  font-size: 20px;
  line-height: 25px;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
}

.btnReset {
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  margin: 30px auto 0 auto;
  background-color: tomato;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
}
