* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.loader {
  position: absolute;
  display: block;
  width: 100px;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}