.statusPlate {
  font-size: 12px;
  line-height: 12px;
  color: #000;
  text-align: center;
  padding: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
  &.plate0 {
    background-color: darkviolet;
    color: #fff;
  }
  &.plate1 {
    background-color: cornflowerblue;
    color: #fff;
  }
  &.plate2 {
    background-color: darkolivegreen;
    color: #fff;
  }
  // Inside Task Details
  &.inDetails {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    padding: 5px 10px;
    width: fit-content;
    margin-left: auto;
  }
}

