.taskInfo {
  position: relative;
  margin-left: 30px;
  border: 2px solid #31cfff;
  border-radius: 10px;
  background-color: #bce3ec;
  padding: 20px;
  width: 100%;
  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    .name {
      font-size: 25px;
      line-height: 25px;
      font-weight: 700;
    }
    .datas {
      flex-shrink: 0;
    }
    .date {
      font-style: italic;
      margin-top: 5px;
    }
  }
  .desc {
    font-size: 18px;
    line-height: 25px;
  }
  .noTask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  img.loader {
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}